.navbarDiv{
  background-color: darkblue;
  height: 15vh;
  color: antiquewhite;
  border-radius: 10%;
}
.sidebarDiv{
  background-color: rgb(97, 97, 220);
  height: 85vh;
  color: antiquewhite;
  border-radius: 10%;

}
.contentDiv{
  background-color: rgb(226, 242, 245);
  height: 85vh;

}
body{
  background-color: rgb(164, 178, 241);
}
.mail{
  margin-top: 20px;
 
}
h2{
  text-align: center;
  padding-top: 50px;
}