.navbarDiv{
  background-color: darkblue;
  height: 15vh;
  color: antiquewhite;
  border-radius: 10%;
}
.sidebarDiv{
  background-color: darkblue;
  height: 85vh;
  color: antiquewhite;
  border-radius: 10%;

}
.contentDiv{
  background-color: rgb(226, 242, 245);
  height: 85vh;
  border-radius: 10%;
}
body{
  background-color: rgb(33, 3, 61);
}